{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}
      <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 pad-bottom-900 text-500 ] [ sf-flow ] [ e-content ]">
        {{ content | safe }}
        Meu e-mail é <span class="font-base text-600"><code >rubensdemelo@gmail.com</code></span>  
        <br>(Mas pode usar o formulário abaixo também, vou responder do mesmo jeito &#128540;)
        {% include "partials/components/contact-form.njk" %}
      </div>
    </article>
  </main>
{% endblock %}

{{ content | safe }}