{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
  {% include "partials/components/intro.njk" %}
  <div class="[ inner-wrapper ] [ sf-flow ] [ pad-top-700 gap-bottom-900 ]">
  <h3><a href="https://flutterparainiciantes.com.br">Flutter para iniciantes</a></h3>
  <p>Livro online e open-source sobre Flutter, com média de 2.8k de usuários/mês.</p>
  <hr>
  <h3><a href="https://pub.dev/packages/brasil_fields">brasil_fields</a></h3>
  <p>O jeito mais fácil de utilizar padrões e formatos brasileiros em seu projeto Dart.</p>
  </div>
  <hr>
    
  </main>
{% endblock %}

{{ content | safe }}