---
import Project from "../components/Project.astro";
import Social from "../components/Social.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Rubens de Melo</title>
  </head>
  <body>
    <main>
      <img
        src="https://avatars.githubusercontent.com/u/1351177?v=4"
        width="120ch"
        alt="Rubens de Melo"
      /><br />
      <span class="comment">---</span><br />
      <span class="keyword">name</span><span class="symbol">:&nbsp;</span><span
        class="value">rubens de melo</span
      ><br />
      <span class="keyword">about</span><span class="symbol">:&nbsp;</span><span
        class="value">z/OS sysplex, cobol & java developer, flutter expert</span
      ><br />
      <span class="keyword">from</span><span class="symbol">:&nbsp;</span><span
        class="value">brazil</span
      ><br />
      <span class="keyword">based</span><span class="symbol">:&nbsp;</span><span
        class="value">sofia-bg</span
      ><br />
      <span class="keyword">projects</span><span class="symbol">:</span><br />
      <Project name="motoca" link="https://motoca.app" />
      <Project name="flutter bootcamp" link="https://flutterbootcamp.com.br" />
      <Project
        name="flutter para iniciantes"
        link="https://flutterparainiciantes.com.br"
      />
      <Project
        name="brazil_fields"
        link="https://pub.dev/packages/brasil_fields"
      />
      <Project
        name="brazil_datetime"
        link="https://pub.dev/packages/brasil_datetime"
      />
      <span class="keyword">social</span><span class="symbol">:</span><br />
      <Social name="github" link="https://github.com/rubensdemelo" />
      <Social name="twitter" link="https://twitter.com/rubensdemelo" />
      <Social
        name="linkedin"
        link="https://www.linkedin.com/in/rubensdemelo/"
      />
      <Social name="instagram" link="https://www.instagram.com/rubensdemelo/" />
    </main>
  </body>
</html>
<style is:global>
  main {
    padding: 2ch;
  }

  img {
    border-radius: 50%;
  }
  .keyword {
    color: #8be9fd;
  }
  .symbol {
    color: #ff79c6;
  }
  .value {
    color: #f1fa8c;
  }
  .number {
    color: #bd93f9;
  }
  .comment {
    color: #6272a4;
  }
  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1.2;
    background-color: #282a36;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
</style>
