---
export interface Props {
	name: string;
	link: string;
}

const { name, link } = Astro.props;
---

<span>&nbsp;&nbsp;</span><span class="symbol">-&nbsp;</span><span class="keyword">name</span><span class="symbol">:&nbsp;</span><a class="value" href={link} target="_blank"><span class="value">{name}</span></a><br>
<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
